
{% extends "base_level_1.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    {{ status | raw}}

    <div class="row"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4" >
                <div class="well"> 

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>{{title}}</h3>
                        </div>
                        <div class="panel-body">
                            
                            <form class="form center-block" name="addTraineeGroup" action="/Timetable/TimetableController/createNewTimetable" method="post">
                                <div class="form-group form-group-lg">
                                    
                                    <input type="number" min="2017" step="1" class="form-control" name="year_start" placeholder="Year Start" required>
                               
                                    
                                </div>
                                <div class="form-group form-group-lg">
                                    <input type="number" min="2017" step="1" class="form-control" name="year_end" placeholder="Year End" required>
                               
                                </div>


                                <div class="form-group form-group-lg">
                                    <input type="number" min="1" max="4" step="1" class="form-control" name="term" placeholder="Term number" required>
                                </div>


                                <div class="form-group form-group-lg" >
                                    <input type="text" class="form-control" name="remarks" onblur="return x()" placeholder="Description">
                                </div>       

                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit">
                                        {{title}}
                                    </button>                                    
                                </div>
                            </form>
                        
                        </div>
                        <!-- class="panel-body" -->
                        <div class="panel-footer">
                            <span><a href="/home/index">Cancel and go back home</a></span>
                        </div>
                        <!-- class="panel-footer" -->
                    </div>
                    <!-- class="panel panel-primary" -->

                </div>
                <!-- class="well" -->
            </div>
            <!-- class="col-lg-6 col-md-6 col-sm-6" -->

            <div class="col-lg-8 col-md-8 col-sm-8" >
                <div class="well"> 
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>List of Timetables</h3>
                        </div>
                        <div class="panel-body">
                            
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>

                                        {% for tableHeader in tableHeadings %}
                                            {% if (tableHeader == "Description") %}
                                                <th >{{ tableHeader }}</th>
                                            {% else %}
                                                <th style="text-align:center">{{ tableHeader }}</th>
                                            {% endif %}
                                        {% endfor %}
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                
                                    <tr>
                                        {% for tableHeader in tableHeadings %}
                                            {% if (tableHeader == "Description") %}
                                                <th>{{ tableHeader }}</th>
                                            {% else %}
                                                <th style="text-align:center">{{ tableHeader }}</th>
                                            {% endif %}
                                        {% endfor %}
                                        <th></th>
                                    </tr>
                                    
                                </tfoot>
                                <tbody>
                                    {% for row in timetable %}
                                    <tr>
                                        <td style="text-align:center">{{ row.year_start }} </td>
                                        <td style="text-align:center">{{ row.year_end }}</td>
                                        <td style="text-align:center">{{ row.term }}</td>
                                        <td> 
                                            ({{row.id}}) {{row.created}}<br/>{{ row.remarks }}
                                        </td>
                                        <td style="text-align:center">
                                            <a href="/Timetable/TimetableController/{{row.id}}/setCurrentTimetable" data-toggle="tooltip" data-placement="right" title="Set as current!"  class="btn btn-xs btn-default">
                                                <span class="fa fa-toggle-right text-primary small" name="set_current" type="submit"></span>
                                            </a>
                                            <a href="/Timetable/TimetableController/{{row.id}}/editCurrentTimetable" data-toggle="tooltip" data-placement="right" title="Edit this timetable!" class="btn btn-xs btn-default">
                                                <span class="fa fa-pencil text-primary  small"></span>
                                            </a>
                                            <a href="#" data-toggle="modal" id="{{ row.id }}"  data-target="#delete-modal" 
                                               title="Delete this Item!"  class="btn btn-xs btn-default" >
                                                <span class="fa fa-trash-o text-danger small" ></span>
                                            </a> 
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    

                                    
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        

                        </div>
                        <!-- class="panel-body" -->

                    </div>
                    <!-- class="panel panel-primary" -->
                </div>
                <!-- class="well" -->
            </div>
            <!-- class="col-lg-3 col-md-3 col-sm-3" -->
        </div>
        <!-- class="row" -->
    </div> 
    <!-- class="container-fluid" -->
    
    <!-- Modal -->
    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Remove!</h4>
                </div>
                <div class="modal-body ">
                    <form class="form center-block" name="deleteTimetable" action="/Timetable/TimetableController/deleteTimetable" method="post">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-warning text-danger fa-3x"></i>
                                </div>
                                <div class="col-xs-11">
                                    <div class="huge text-danger">Warning</div>
                                    <div class="lead">
                                    
                                    <p class="lead">Removing this timetable with ID No. <span class="modal-message text-danger delete-content"></span>, 
                                                    will also remove all time class associated with it and may reset the current timetable.
                                    </p>
                                    <input type="hidden" class="modal-input delete-input" name="timetable_id" value="">
                                    
                                    </div>
                                </div>
                            </div>
                                
            
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger pull-right">Proceed and Delete</button>
                    </form>
                <div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script>
        $(document).ready(function(){
            $('#delete-modal').on('show.bs.modal', function(e) {
                var $modal = $(this),
                    deleteId = e.relatedTarget.id;
                    $modal.find('.delete-content').html(deleteId);
                    $modal.find('.delete-input').val(deleteId);
            });

    });
    </script>


{% endblock %}