
{% extends "base_level_1.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}



    <style>

        #ajaxFetch-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
        #ajaxFetch-list li{padding: 10px; background: #f9f9f9; border-bottom: #e3e6f4 1px solid;}
        #ajaxFetch-list li:hover{background:#eaf5ff;cursor: pointer;}

    </style>
   

    {{ status | raw}}

    <div class="row"></div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3" >
                <div class="well"> 
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4>{{title}}</h4>
                        </div>
                        <div class="panel-body">

                            {% for key,value in oldEntry %}
        
                                    <input type="hidden" name="name_{{ key }}" id="id_{{ key }}" value="{{ value }}">
                                
                            {% endfor %}
                            <form class="form center-block" name="updateSubjectClass" action="/Timetable/TimetableController/updateSubjectClass" method="post">
                                <table width="100%" class="table table-hover">
                                    
                                        <tr >
                                            <td colspan="3" > 
                                                <div class="form-group form-group-sm has-warning">
                                                    <input type="text" class="form-control" name="trainee_group" placeholder="Trainee group" id="search-box-traineeGroup" value=""  required>
                                                    <input type="hidden" class="form-control" name= "trainee_group_id" placeholder="" id="trainee_group_id" required>
                                                    <p></p><div id="suggesstion-box-traineeGroup"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div class="form-group form-group-sm has-warning">
                                                    <input type="text" class="form-control" name="subject" placeholder="Course" id="search-box-course" required>
                                                    <input type="hidden" class="form-control" name= "subject_id" placeholder="" id="subject_id" required>
                                                    <p></p><div id="suggesstion-box-course"></div>
                                                </div>
                                                <div class="form-group form-group-sm has-warning">

                                                    <input type="text" class="form-control " name="instructor" placeholder="Instructor" id="search-box-instructor"required>
                                                    <input type="hidden" class="form-control" name= "instructor_id" placeholder="" id="instructor_id" required>
                                                    <p></p><div id="suggesstion-box-instructor"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" >
                                                <div class="form-group form-group-sm has-warning">
                                                    <input type="number" min="1" max="5" step="1" class="form-control" name="preferred_number_days" id="preferred_number_days" placeholder="No. of days" required>
                                                    <span class="pull-left text-muted small"><i> Number of days</i></span>
                                                </div>
                                            </td>
                                           
                                        </tr>
                                        <tr>
                                             <td>
                                                <div class="form-group form-group-sm has-warning">
                                                    <input type="number" min="1" max="10" step="1" class="form-control" name="preferred_start_period" id="preferred_start_period" value="1" required>
                                                    <span class="pull-left text-muted small"><i>Pref. start</i></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group form-group-sm has-warning">
                                                    <input type="number" min="1" max="11" step="1" class="form-control" name="preferred_end_period" id="preferred_end_period"value="8" required>
                                                    <span class="pull-left text-muted small"><i>Pref. End</i></span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-group form-group-sm has-warning">
                                                    
                                                    <input type="text" class="form-control"  name="room_type" placeholder="Room type" id="search-box-roomType"required>
                                                    <input type="hidden" class="form-control" name="room_type_id" placeholder="" id="room_type_id" required>
                                                    <span class="pull-left text-muted small"><i>Room type</i></span>
                                                    <p></p><div id="suggesstion-box-roomType"></div>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <div class="form-group form-group-sm has-warning">
                                                        <input type="text" class="form-control" name="room_id_dummy" placeholder="-Room-" id="search-box-room" disabled >
                                                        <input type="hidden" class="form-control" name= "room_id" placeholder="" id="room_id" required>
                                                        <input type="hidden" class="form-control"  name="subject_class_id" id="subject_class_id" value="">
                                                    <span class="pull-left text-muted small"><i>Room selected</i></span>
                                                    <p></p><div id="suggesstion-box-room"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                </table>
                                <div class="form-group form-group-lg">
                                    <button class="btn btn-danger btn-lg btn-block" name="submit" type="submit">
                                    Update This Class
                                    </button>
                                </div>
                            </form>
                        </div>
                        
                        <!-- class="panel-body" -->
                        <div class="panel-footer">
                            <span>Click here to <a href="/Timetable/TimetableController/addSubjectClass">Go back</a></span>
                        </div>
                        <!-- class="panel-footer" -->
                    </div>
                    <!-- class="panel panel-primary" -->
                </div>
                <!-- class="well" -->
            </div>
            <!-- class="col-lg-3 col-md-3 col-sm-3" -->


            <div class="col-lg-9 col-md-8 col-sm-8" >
                <div class="well"> 
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>{{tableTitle}}
                            <small class="text-muted pull-right">{{tableSubTitle}}</small> </h4> 
                        </div>
                        <div class="panel-body">
                            
                            <table width="100%" class="table table-striped table-bordered table-hover" id="">
                                <thead>
                                    <tr>
                                        {% for tableHeader in tableHeadings %}
                                                <td class="text small" style="text-align:center"><strong>{{ tableHeader }}</strong></td>
                                        {% endfor %}

                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for row in subjectClass %}
                                    <tr>
                                        <td class="text small" style="text-align:center">{{ row.trainee_group }} </td>
                                        <td class="text small" style="text-align:center">{{ row.code }} {{ row.subject }} ({{row.required_period}})<br/>
                                                            <span class="text-primary small"><i>{{ row.instructor}}</i></span></td> 
                                        <td class="text small" style="text-align:center">{{ row.room }}<br/>
                                                            <span class="text-muted small"><i>{{ row.room_type}}</i></span></td>
                                        <td class="text small" style="text-align:center">{{ row.days }}</td>
                                        <td class="text small" style="text-align:center">{{ row.start }} - {{ row.end }}</td>
                                        

                                    </tr>
                                    {% endfor %}
                                    

                                    
                                </tbody>
                                <tfoot>
                                
                                    <tr>
                                        {% for tableHeader in tableHeadings %}
                                           
                                                <td class="text small" style="text-align:center"><b>{{ tableHeader }}</b></td>
                                            
                                        {% endfor %}

                                    </tr>
                                    
                                </tfoot>
                            </table>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- class="panel-body" -->

                    </div>
                    <!-- class="panel panel-primary" -->
                </div>
                <!-- class="well" -->
            </div>
            <!-- class="col-lg-3 col-md-3 col-sm-3" -->
        </div>
        <!-- class="row" -->
    </div> 
    <!-- class="container-fluid" -->



     <script>
        $(document).ready(function(){
            $("#search-box-traineeGroup").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchTraineeGroups",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-traineeGroup").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 100px");

                },
                success: function(data){
                    $("#suggesstion-box-traineeGroup").show();
                    $("#suggesstion-box-traineeGroup").html(data);
                    $("#search-box-traineeGroup").css("background","#FFF");
                    $("#suggesstion-box-traineeGroup").css("background","#F1F1FA");
                }
                });
            });

            $("#search-box-course").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchCourses",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-course").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 100px");

                },
                success: function(data){
                    $("#suggesstion-box-course").show();
                    $("#suggesstion-box-course").html(data);
                    $("#search-box-course").css("background","#FFF");
                    $("#suggesstion-box-course").css("background","#F1F1FA");
                }
                });
            });

            $("#search-box-instructor").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchInstructors",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-instructor").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 100px");

                },
                success: function(data){
                    $("#suggesstion-box-instructor").show();
                    $("#suggesstion-box-instructor").html(data);
                    $("#search-box-instructor").css("background","#FFF");
                    $("#suggesstion-box-instructor").css("background","#F1F1FA");
                }
                });
            });

            $("#search-box-roomType").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchRoomTypes",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-roomType").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 120px");

                },
                success: function(data){
                    $("#suggesstion-box-roomType").show();
                    $("#suggesstion-box-roomType").html(data);
                    $("#search-box-roomType").css("background","#FFF");
                    $("#suggesstion-box-roomType").css("background","#F1F1FA");
                }
                });
            });

            $("#search-box-traineeGroup").val( $('#id_trainee_group').val() );
            $("#trainee_group_id").val($('#id_trainee_group_id').val());

            $("#search-box-course").val( $('#id_subject').val() );
            $("#subject_id").val($('#id_subject_id').val());
            
            $("#search-box-instructor").val( $('#id_instructor').val() );
            $("#instructor_id").val( $('#id_instructor_id').val() );

            $("#search-box-roomType").val( $('#id_room_type').val() );
            $("#room_type_id").val( $('#id_room_type_id').val() );

            $("#search-box-room").val( $('#id_room').val() );
            $("#room_id").val( $('#id_room_id').val() );

            $("#search-box-required_period").val( $('#id_required_period').val() );

            $("#preferred_number_days").val( $('#id_days').val() );
            $("#preferred_start_period").val( $('#id_start').val() );
            $("#preferred_end_period").val( $('#id_end').val() );

            $("#subject_class_id").val( $('#id_id').val() );
            alert('Please note that changes made on this page will not reflect on the previously generated timetable.');
        });

        function selectOptionsTraineeGroup(code, traineeGroupName) {
            $("#search-box-traineeGroup").val(traineeGroupName);
            $("#trainee_group_id").val(code);
            $("#suggesstion-box-traineeGroup").hide();
            $("#loading").hide();
        }

        function selectOptionsCourse(code, subjectName) {
            $("#search-box-course").val(subjectName);
            $("#subject_id").val(code);
            $("#suggesstion-box-course").hide();
            $("#loading").hide();
        }
        
        function selectOptionsInstructor(code, fullName) {
            $("#search-box-instructor").val(fullName);
            $("#instructor_id").val(code);
            $("#suggesstion-box-instructor").hide();
            $("#loading").hide();
        }

        function selectOptionsRoomType(code, roomTypeName) {

            $("#search-box-roomType").val(roomTypeName);
            $("#suggesstion-box-roomType").hide();
            $("#loading").hide();
            $("#room_type_id").val(code);
            
            $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/"+  $("#room_type_id").val()+"/ajaxFetchRooms",
                data:'keyword='+$("#room_type_id").val(),
                beforeSend: function(){
                    //alert("beforeSend "+$("#room_type_id").val());
                },
                success: function(data){
                    //alert("success "+$("#room_type_id").val());
                    $("#suggesstion-box-room").show();
                    $("#suggesstion-box-room").html(data);
                }
            });

        }

        function selectOptionsRoom(code, fullName) {
            $("#search-box-room").val(fullName);
            $("#room_id").val(code);
            $("#suggesstion-box-room").hide();
            $("#loading").hide();
        }


        /*
                    id=>52 
                    trainee_group_id=>28 
                    subject_id=>64 
                    instructor_id=>19 
                    room_type_id=>2 
                    room_id=>25 
                    trainee_group=>ELC-1A 
                    subject=>test 
                    code=>test 111 
                    required_period=>4 
                    instructor=>Ericson Billedo 
                    room_type=>Computer LAB 
                    room=>Any Room 
                    days=>2 
                    start=>1 
                    end=>8 

            Array
            (
                [0] => stdClass Object
                    (
                        [id] => 52
                        [trainee_group_id] => 28
                        [instructor_id] => 19
                        [subject_id] => 64
                        [room_type_id] => 1
                        [room_id] => 25
                        [trainee_group] => ELC-1A
                        [subject] => test
                        [code] => test101
                        [required_period] => 5
                        [instructor] => Ericson Billedo
                        [room_type] => Classroom
                        [room] => Any Room 
                        [days] => 4
                        [start] => 1
                        [end] => 8
                    )

            )


        */
        
    </script>

{% endblock %}