
{% extends "base_level_1.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
    </script>
    <style>
    #myProgress {
    width: 100%;
    background-color: #ddd;
    }

    #myBar {
    width: 1%;
    height: 30px;
    background-color: #A9CCE3;
    }
    </style>
   

    {{ status | raw}}

    <div class="row"></div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12" >
                <div class="well"> 
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>{{tableTitle}}
                            <small class="text-muted pull-right">{{tableSubTitle}}</small> </h4> 
                        </div>
                        <div class="panel-body">
                            <h3>Please wait while the timetable is being generated ...    </h3>
                            <!-- <div id="myProgress">
                                <div id="myBar"></div>
                                </div>
                                -->
                            
                            <span id="progress"></span>
                            

                        </div>
                        <!-- class="panel-body" -->

                    </div>
                    <!-- class="panel panel-primary" -->
                </div>
                <!-- class="well" -->
            </div>
            <!-- class="col-lg-3 col-md-3 col-sm-3" -->
        </div>
        <!-- class="row" -->
    </div> 
    <!-- class="container-fluid" -->



<script>
    $(document).ready(function(){
        var elem = document.getElementById("myBar");   
        var width = 1;
        var id = setInterval(frame, 500);
        function frame() {
            if (width >= 100) {
            clearInterval(id);
            var id = setInterval(frame, 400);
            width = 1;
            } else {
            width++; 
            elem.style.width = width + '%'; 
            }
        }
    });
</script>


    <script>
        $(document).ready(function(){
            $("#search-box-traineeGroup").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchTraineeGroups",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-traineeGroup").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 100px");

                },
                success: function(data){
                    $("#suggesstion-box-traineeGroup").show();
                    $("#suggesstion-box-traineeGroup").html(data);
                    $("#search-box-traineeGroup").css("background","#FFF");
                    $("#suggesstion-box-traineeGroup").css("background","#F1F1FA");
                }
                });
            });

            $("#search-box-course").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchCourses",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-course").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 100px");

                },
                success: function(data){
                    $("#suggesstion-box-course").show();
                    $("#suggesstion-box-course").html(data);
                    $("#search-box-course").css("background","#FFF");
                    $("#suggesstion-box-course").css("background","#F1F1FA");
                }
                });
            });

            $("#search-box-instructor").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchInstructors",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-instructor").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 100px");

                },
                success: function(data){
                    $("#suggesstion-box-instructor").show();
                    $("#suggesstion-box-instructor").html(data);
                    $("#search-box-instructor").css("background","#FFF");
                    $("#suggesstion-box-instructor").css("background","#F1F1FA");
                }
                });
            });

            $("#search-box-roomType").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/ajaxFetchRoomTypes",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box-roomType").css("background","#FFF url(../../vendor/image/LoaderIcon.gif) no-repeat 120px");

                },
                success: function(data){
                    $("#suggesstion-box-roomType").show();
                    $("#suggesstion-box-roomType").html(data);
                    $("#search-box-roomType").css("background","#FFF");
                    $("#suggesstion-box-roomType").css("background","#F1F1FA");
                }
                });
            });
            
        });

        function selectOptionsTraineeGroup(code, traineeGroupName) {
            $("#search-box-traineeGroup").val(traineeGroupName);
            $("#trainee_group_id").val(code);
            $("#suggesstion-box-traineeGroup").hide();
            $("#loading").hide();
        }

        function selectOptionsCourse(code, subjectName) {
            $("#search-box-course").val(subjectName);
            $("#subject_id").val(code);
            $("#suggesstion-box-course").hide();
            $("#loading").hide();
        }
        
        function selectOptionsInstructor(code, fullName) {
            $("#search-box-instructor").val(fullName);
            $("#instructor_id").val(code);
            $("#suggesstion-box-instructor").hide();
            $("#loading").hide();
        }

        function selectOptionsRoomType(code, roomTypeName) {

            $("#search-box-roomType").val(roomTypeName);
            $("#suggesstion-box-roomType").hide();
            $("#loading").hide();
            //alert("code val: "+ code);

            //var x = $("#search-box-roomType").val();
            $("#room_type_id").val(code);
            
            $.ajax({
                type: "POST",
                url: "/timetable/TimetableController/"+  $("#room_type_id").val()+"/ajaxFetchRooms",
                data:'keyword='+$("#room_type_id").val(),
                beforeSend: function(){
                    //alert("beforeSend "+$("#room_type_id").val());
                },
                success: function(data){
                    //alert("success "+$("#room_type_id").val());
                    $("#suggesstion-box-room").show();
                    $("#suggesstion-box-room").html(data);
                }
            });

        }

        function selectOptionsRoom(code, fullName) {
            $("#search-box-room").val(fullName);
            $("#room_id").val(code);
            $("#suggesstion-box-room").hide();
            $("#loading").hide();
        }

    </script>

{% endblock %}
