
{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block body %}
        <span class="text-muted small">Generated @ <b style="color:red">{{timestamp}}</b></span>
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered" id="dataTables-currentTimetable">
                <thead>
                    {#<tr style="color:red">#}
                    <tr style="color:darkblue">
                        <td class="text small" style="text-align:center"><strong>Time</strong></td>
                        <td class="text small" style="text-align:center"><strong>Sunday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Monday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Tuesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Wednesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Thursday</strong></td>
                   
                    </tr>
                </thead>
                <tbody>
  
                    
                    {% for key, value in time_col %}
                        <tr>
                            <td class="text small text-center" style="vertical-align:middle "> {{ key }}</td>
                            {% for time_slot in value %}
                                
                                    <td class="text small" style="text-align:center">
                                        
                                        {% for meeting in meetings %}
                                            {% if meeting.time_slot == time_slot %}
                                            <table width="50%" class="table"><tbody>
                                            <tr> 

                                                {% if meeting.trainee_group  matches '/BUS/' %} 
                                                    <td style="background-color:#FAD7A0">
                                                {% elseif meeting.trainee_group  matches '/ELC/' %}
                                                    <td style="background-color:#A9DFBF">
                                                {% elseif meeting.trainee_group  matches '/ELX/' %}
                                                    <td style="background-color:#D2B4DE">  
                                                {% endif %}
                                                
                                                <b>{{ meeting.trainee_group }}</b><br/>
                                                <span class="small">{{ meeting.code }}</span>-
                                                
                                                <span class="small"><i>{{ meeting.subject }}</i><br/></span>
                                                <span class="small "><strong>{{ meeting.instructor }}</strong> -  </span>
                                                <span class="text-default small"><i>{{ meeting.room }}</i></span>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                            {% endif %}
                                        {% endfor %}
                                           
                                    </td>
                                    
                            {% endfor %}
                        </tr>



                    
                    {% endfor %}
                  

                    
                    
                    
                </tbody>
                <tfoot>
                                
                    <tr>
                        <td class="text small" style="text-align:center"><strong>Time</strong></td>
                        <td class="text small" style="text-align:center"><strong>Sunday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Monday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Tuesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Wednesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Thursday</strong></td>
                    </tr>
                    
                </tfoot>
            </table>
            <!-- /.table-responsive -->
            
        </div>
        
        <!-- /.panel-body -->



{% endblock %}
