
{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block body %}
        <span class="text-muted small">
            <a href="/"  title="Remove Filter!"  class="btn btn-xs btn-primary" >Make Changes
                <span class="fa fa-cog" ></span>
            </a>

            <a href="#" data-toggle="modal" id="{{ row.id }}"  data-target="#filter-modal" 
                title="Filter!"  class="btn btn-xs btn-primary" > Filter Here   
                <span class="fa fa-filter  " ></span>
            </a>
            
            <a href="/"  title="Remove Filter!"  class="btn btn-xs btn-success" >Remove Filter
                <span class="fa fa-play  " ></span>
            </a>
             
        </span>
        <span class="text-muted small pull-right">
            Generated @ <b style="color:red">{{timestamp}}</b>
            
        </span>
        
        <div class="panel-body">
            <table width="100%" class="table table-striped table-bordered" id="-currentTimetable">
                <thead>
                    {#<tr style="color:red">#}
                    <tr style="color:darkblue">
                        <td class="text small" style="text-align:center"><strong>Time</strong></td>
                        <td class="text small" style="text-align:center"><strong>Sunday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Monday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Tuesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Wednesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Thursday</strong></td>
                   
                    </tr>
                </thead>
                <tbody>
  
                    
                    {% for key, value in time_col %}
                        <tr>
                            <td class="text small text-center" style="vertical-align:middle "> {{ key }}</td>
                            {% for time_slot in value %}
                                
                                    <td class="text small" style="text-align:center">
                                        
                                        {% for meeting in meetings %}
                                            
                                            {% if meeting.time_slot == time_slot %}
                                            <table width="50%" class="table"><tbody>
                                                
                                            <tr> 
                                               
                                                    
                                                       

                                                
                                                {% if meeting.subject matches '/STU/' %} 
                                                
                                                    <td style="background-color: #A3E4D7 ">
                                                {% elseif meeting.trainee_group  matches '/BUS/' %}
                                                    <td style="background-color:#FAD7A0">
                                                {% elseif meeting.trainee_group  matches '/ELC/' %}
                                                    <td style="background-color:#D4E6F1">
                                                {% elseif meeting.trainee_group  matches '/ELX/' %}
                                                    <td style="background-color:#D2B4DE">  
                                                {% endif %}
                                                
                                                <b>{{ meeting.trainee_group }}</b><br/>
                                                <span class="small">{{ meeting.code }}</span>-
                                                
                                                <span class="small"><i>{{ meeting.subject }}</i><br/></span>
                                                <span class="small "><strong>{{ meeting.instructor }}</strong> -  </span>
                                                <span class="text-default small"><i>{{ meeting.room }}</i></span>
                                                <a href="#" data-toggle="modal" id="{{ row.id }}"  data-target="#edit-modal" title="Edit this Item!">
                                                    .
                                                </a>
                                                </td>
                                                
                                                
                                            </tr>
                                            </tbody></table>
                                            {% endif %}
                                            
                                        {% endfor %}
                                           
                                    </td>
                                    
                            {% endfor %}
                        </tr>



                    
                    {% endfor %}
                  

                    
                    
                    
                </tbody>
                <tfoot>
                                
                    <tr>
                        <td class="text small" style="text-align:center"><strong>Time</strong></td>
                        <td class="text small" style="text-align:center"><strong>Sunday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Monday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Tuesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Wednesday</strong></td>
                        <td class="text small" style="text-align:center"><strong>Thursday</strong></td>
                    </tr>
                    
                </tfoot>
            </table>
            <!-- /.table-responsive -->
            
        </div>
        
        <!-- /.panel-body -->

    <!-- Modal -->
    <div id="filter-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Filter Timetable</h4>
                </div>
                <div class="modal-body ">
                    <form class="form center-block" name="addTraineeGroup" action="/home/filterTimetable" method="post">
                            <div class="row">
                                <div class="col-xs-1">
                                    <i class="fa fa-info-circle  text-info fa-3x"></i>
                                </div>
                                <div class="col-xs-11">
                                    <div class="huge text-primary">Filter by</div>
                                        <div class="form-group">
                                            <label></label>
                                            <label class="radio-inline">
                                                <input type="radio" name="filter" id="trainee" value="trainee" checked>Trainee Group
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="filter" id="instructor" value="instructor">Instructor
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="filter" id="room" value="option3">Room
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label></label>
                                            <input class="form-control" name="filter_data">
                                            <p class="help-block"></p>
                                        </div>

                                    <div class="lead">  </div>
                                </div>
                            </div>
                                
            
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right">Proceed and Filter</button>
                    </form>
                <div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



{% endblock %}
