{% extends "base.html" %}

{% block title %}Home-Test{% endblock %}

{% block body %}

    <h1>Test</h1>
    <p>Hello from a Twig template, Mr. {{ name }}!</p>

    <ul>
        {% for colour in colours %}
            <li>{{ colour }}</li>
        {% endfor %}
    </ul>

      

    <div class="row"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4" >
                <div class="well"> 

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>{{title}}</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form center-block" name="addTraineeGroup" action="/Timetable/TimetableController/createNewTimetable" method="post">
                                <table width="100%" class="table table-hover" >
                                    
                                        <tr >
                                            <td colspan="3" > 
                                                <div class="form-group form-group-lg">
                                                    <input type="text" class="form-control" name="year_start" placeholder="Trainee group" id="search-box" required>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-lg">
                                                    <input type="text" class="form-control" name="year_end" placeholder="Course" required>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <div class="form-group form-group-lg">
                                                    <input type="text" class="form-control" name="year_end" placeholder="Instructor" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-lg">
                                                    <input type="number" min="1" max="4" step="1" class="form-control" name="year_end" placeholder="No. of days" required>
                                                    <span class="pull-left text-muted small"><i>Number of days</i></span>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" min="1" max="4" step="1" class="form-control" name="year_end" value="1" required>
                                                <span class="pull-left text-muted small"><i>Pref. start</i></span>
                                            </td>
                                            <td>
                                                <input type="number" min="1" max="4" step="1" class="form-control" name="year_end" required>
                                                <span class="pull-left text-muted small"><i>Pref. End</i></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group form-group-lg">
                                                    <input type="text" class="form-control" name="year_start" placeholder="Room type" required>
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <div class="form-group form-group-lg">
                                                    <input type="text" class="form-control" name="year_start" placeholder="Room*" >
                                                </div>
                                            </td>
                                        </tr>
                                        
                                </table>
                                <div class="form-group form-group-lg">
                                    <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit">
                                        ASADAsd
                                    </button>
                                </div>
                            </form>
                        </div>
                        
                        <!-- class="panel-body" -->
                        <div class="panel-footer">
                            <span><a href="/home/index">Cancel and go back home</a></span>
                        </div>
                        <!-- class="panel-footer" -->
                    </div>
                    <!-- class="panel panel-primary" -->

                </div>
                <!-- class="well" -->
            </div>
            <!-- class="col-lg-6 col-md-6 col-sm-6" -->


        </div>
        <!-- class="row" -->
    </div> 
    <!-- class="container-fluid" -->























 
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
</script>
<style>

    #traineeGroup-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
    #traineeGroup-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
    #traineeGroup-list li:hover{background:#ece3d2;cursor: pointer;}

</style>
<script>
    $(document).ready(function(){
        $("#search-box").keyup(function(){
            $.ajax({
            type: "POST",
            url: "/home/readTraineeGroup",
            data:'keyword='+$(this).val(),
            beforeSend: function(){
                $("#search-box").css("background","#FFF url(../vendor/image/LoaderIcon.gif) no-repeat 100px");

            },
            success: function(data){
                $("#suggesstion-box").show();
                $("#suggesstion-box").html(data);
                $("#search-box").css("background","#FFF");
                $("#suggesstion-box").css("background","#F1F1FA");
            }
            });
        });
    });

    function selectCountry(val) {
        $("#search-box").val(val);
        $("#suggesstion-box").hide();
        $("#loading").hide();
    }
</script>

        


        <div id="suggesstion-box"></div>


{% endblock %}